{% extends 'base.html' %}
{% block title %} Success {% endblock %} {% block body %}
<div class="container text-center my-5">
    <img src="https://raw.githubusercontent.com/mmouhib/insurance-newsletter/79bbebf7bc95b56e3b37ff8846742ce3888a2f9a/src/website/static/success.png?token=AOH3R42E4PX54ZI2YCWCMSDBOM5RS" class="mx-5"/>
    <h1 class="display-1 font-weight-700 text-center">Envoi réussi</h1>
    <button id="return" class="mx-5 btn btn-danger">
        Retour à la page d'accueil
    </button>
</div>
<script src="{{ url_for('static', filename = 'script.js')}}"></script>
{% endblock %}
