{% extends 'base.html' %}
{% block title %} Success {% endblock %} {% block body %}
<div class="contain">
	<div class="mx-5 img">
		<img
			src="{{ url_for('static', filename = 'success.png')}}"
			alt=""
			class="mx-5"
		/>
	</div>
	<h1 class="display-1 text-center">Envoi réussi</h1>
	<div class="mx-5">
		<div class="topcont mx-5">
			<div class="mx-5 container">
				<button id="return" class="mx-5 btn btn-danger">
					Retour à la page d'accueil
				</button>
			</div>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename = 'script.js')}}"></script>
{% endblock %}
