@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,500&display=swap');
body {
	font-family: 'JetBrains Mono', monospace;
	background-image: url('bg.png'),
		linear-gradient(rgb(139, 139, 201), rgb(63, 98, 151));
	background-size: cover; /*bg not recizeable*/
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(207, 183, 183);
	background-blend-mode: multiply;
}
.textarea {
	scroll-behavior: smooth;
	resize: none;
}
.topdiv,
.h5 {
	margin-bottom: 5%;
}
form {
	width: 40rem;
	height: 45rem;
	padding: 2rem;
	border-radius: 1.54rem;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		50deg,
		rgb(113, 147, 192) 0%,
		rgb(209, 194, 212) 100%,
		rgb(197, 133, 194) 100%
	);
}
.copyrights {
	position: fixed;
	bottom: 0;
	color: rgb(110, 110, 110);
}
